@import "tailwindcss";

/* Tailwind Theme */
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #AEE8E4;
  --color-secondary: #3EA0F1;
  --font-jakarta: "Plus Jakarta Sans";
  --font-space: "Space Grotesk";
  --text-h1: clamp(1rem, 10vw + 3rem, 100rem);
  --text-h2: clamp(1rem, 5vw + 3rem, 100rem);
  --text-h3: clamp(1rem, 1vw + 0.4rem, 40rem);
  --text-h4: clamp(1rem, 0.5vw + 0.1rem, 30rem);
  --text-h5: 1.25rem;
}

/* Fonts */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", serif;
}
